@font-face {
    font-family: Montserrat-Regular;
    src: url("fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat-Italic;
    src: url("fonts/Montserrat-Italic.ttf");
}

@font-face {
    font-family: Montserrat-Bold;
    src: url("fonts/Montserrat-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url("fonts/Montserrat-SemiBold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Philosopher-Bold;
    src: url("fonts/Philosopher-Bold.ttf");
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat-Regular, sans-serif;
}

img {
    max-width: 100%;
}

a.button {
    padding: 10px 20px;
    background:  #6933DC;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
a.button:hover{
    background:  #4a36ba;
}
.title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    color: #6933DC;
    text-transform: uppercase;
    font-family: Philosopher-Bold, sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background: #FFFFFF;
    box-shadow: 0 4px 10px 0 #00000040;
    text-align: center;
    padding: 10px 0 10px 0;
}

header .container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 200px;
    height: 150px;
    border-radius: 5px;
}
.contacts{
    display: flex;
    align-items: center;
    gap: 10px;
}
.contacts a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #709FDC;
}
.contacts .number{
    padding-bottom: 5px;
}


/*profession*/
.profession {
    padding-top: 200px;
    padding-bottom: 200px;
}

.profession-text {
    font-size: 52px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 40px;
    color:  #6933DC;
}

/*about*/
.about {
    padding-top: 20px;
    padding-bottom: 120px;
    background-color: #6933DC;
    color: #fff;
    height: 100%;
}
.about .title{
    color: #FFFFFF;
}


.about-content {
    display: flex;
    align-items: center;
    gap: 150px;

}

.about-content-image  {
    width: 300px;
    height: 300px;
    border-radius: 3px;
}

.about-content-data {
    max-width: 570px;
    line-height: 1.8;
}

.about-content-data-text {
    margin-bottom: 20px;
    max-width: 570px;
}

.about-content-data-button a {

    padding: 8px 10px;
    border: 2px solid #07ef3d;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #4a36ba;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}


/*projects*/
.projects {
    padding-top: 60px;
}

.project-items {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: center;
}

.project-item-data {
    max-width: 450px;
}

.project-item-data-title {
    font-size: 18px;
    font-family: Montserrat-Bold, sans-serif;
    margin-bottom: 15px;
    color: #6933DC;
}

.project-item-data-text {
    line-height: 1.6;
    margin-bottom: 15px;
}

.project-item-data-links {
    display: flex;
    gap: 15px;
}
.project-item-image {
    width: 550px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
}



/*footer*/
.footer {
    background-color: #333;
    padding: 40px 0 40px 0;
}
.footer-contacts-arrow{
    text-align: center;
    margin-bottom: 20px;
}
.footer-contact-social{
    display: flex;
    justify-content: center;
     gap: 40px;
}
